#quest {
    background-color: rgb(213, 241, 185);
    border-radius: 10px;
    min-width: 300px;
    min-height: 300px;
    font-weight: 900;
    font-size: 40px;
    margin: auto;
}
#answer {
    width: 300px;
    background-color: grey;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
}
